# Variáveis

In [11]:
idade_do_1 = 19
idade_do_2 = 15
print(idade_do_1 + idade_do_2)
print(idade_do_1 > idade_do_2)
idade_do_1 = idade_do_1 + 1
print(idade_do_1)

34
True
20

### Regras para o nome de uma variável
- Deve-se iniciar com letra ou _ 
- não pode conter caracteres especiais (acentos podem, mas evite por boa prática)
- Pode-se usar letras, números ou _
- O python faz diferença entre maiúsculo e minúsculo
- Não pode ser uma palavra reservada do python ['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [16]:
#del retira a variável da memória

idade = 10
print(idade)
del idade

10

### Laboratório 2.4.7

In [ ]:
John = 3
Mary = 5
Adam = 6
print(John, Mary, Adam, sep=",") #separador de vírgula entre os valores
total_apples = John + Mary + Adam
print("total de maçãs:" , total_apples)
boys_apples = total_apples - Mary
print ("maçãs dos meninos:" , boys_apples)

3,5,6
total de maçãs: 14
maçãs dos meninos: 9

### Operador de atalho
operador = operador operacao valor => operador operacao= valor
resumindo
idade = idade + 5 => idade += 5

In [31]:
variavel = 2
#variavel = variavel + 5 #essa e a linha de baixo fazem a mesma coisa
variavel += 5
print(variavel)
#variavel = variavel * 5 + 2
variavel *= 5 + 2 #na hierarquia de operações, a multiplicação vem antes da soma, porem o operador de atalho faz a soma primeiro
print(variavel)

7
49

### Laboratório 2.4.9

In [35]:
kilometers = 12.25
miles = 7.38
one_mile_in_kilometers = 1.61

miles_to_kilometers = miles * one_mile_in_kilometers
kilometers_to_miles = kilometers / one_mile_in_kilometers

print(miles, "milhas é", round(miles_to_kilometers, 2), "quilômetros")
print(kilometers, "quilômetros é", round(kilometers_to_miles, 2), "milhas")

7.38 milhas é 11.88 quilômetros
12.25 quilômetros é 7.61 milhas

### Laboratório 2.4.10
3x3 - 2x2 + 3x - 1

- Exemplo de entrada
- x = 0
- x = 1
- x = -1
- Exemplo de saída
- y = -1.0
- y = 3.0
- y = -9.0

In [40]:
x = 1
x = float(x)
y=(3 * x ** 3 - 2 * x ** 2 + 3 * x - 1) 
print("y =", y)

y = 3.0